* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e6e8e9;
}

/* ImageNosotros */

img{

  width: 260px; 
  height: 330px;
  position: absolute;
  left: 37px;
  bottom: 150px;
  

}



.App {
  text-decoration: none;
  text-align: center;
  color: #444C4E;
  position: absolute;
  bottom: 80%;
  font-size: 25px;
  left: 50px;
}






.menu-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu-horizontal li {
  display: inline-block;
}

.menu-horizontal li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #444C4E;
  
}




h1 {
  position: absolute;
  bottom: 65%;
  left: 20px;
  color: #444C4E;
}

.black-word {
  color: black;
  font-size: larger;

}


.Candidatos-1{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: relative;
  top: 250px;
  left: 30px;
  text-align: center;



}


.Candidatos-2{
  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: relative;
  top: 255px;
  left: 30px;
  text-align: center;



}


.Candidatos-3{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: relative ;
  top: 260px;
  left: 30px;
  text-align: center;

}


.Candidatos-4{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 257px;
  left: 30px;
  text-align: center;
}

.Candidatos-5{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 255px;
  left: 30px;
  text-align: center;


}
.Candidatos-6{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 250px;
  left: 30px;
  text-align: center;


}
.Candidatos-7{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 250px;
  left: 30px;
  text-align: center;



}
.Candidatos-8{
  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 28px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 245px;
  left: 30px;
  text-align: center;

}

/*section2 */




/* candidatos */


h2{
  color: #444C4E;
  position: absolute;
  bottom: 70%;
  left: 10%;
 font-size: 25px;


}
 

.titulo{
  color: #444C4E;
  position: absolute;
  bottom: 80%;
  left: 30%;

} 


/* propuestas */ 


.propuestas-1{
  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
padding: 10px; /* Relleno interno del contenido */
border: 1px solid #347fd5; /* Borde del elemento */
margin: 30px; /* Margen externo alrededor del elemento */
position: absolute;
bottom: 50%;
left: 55px;
text-align: center;

}

.propuestas-2{
  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: absolute;
  bottom: 35%;
  left: 55px;
  text-align: center;
  
  }


  .propuestas-3{
    width: 200px; /* Ancho del elemento */
    height: 20px; /* Altura del elemento */
    padding: 10px; /* Relleno interno del contenido */
    border: 1px solid #347fd5; /* Borde del elemento */
    margin: 30px; /* Margen externo alrededor del elemento */
    position: absolute;
    bottom: 20%;
    left: 55px;
    text-align: center;
    
    }

    .propuestas-4{
      width: 200px; /* Ancho del elemento */
      height: 20px; /* Altura del elemento */
      padding: 10px; /* Relleno interno del contenido */
      border: 1px solid #347fd5; /* Borde del elemento */
      margin: 30px; /* Margen externo alrededor del elemento */
      position: absolute;
      bottom: 5%;
      left: 55px;
      text-align: center;
      
      }
      .propuestas-5{
        width: 200px; /* Ancho del elemento */
         height: 20px; /* Altura del elemento */
        padding: 10px; /* Relleno interno del contenido */
        border: 1px solid #347fd5; /* Borde del elemento */
        margin: 30px; /* Margen externo alrededor del elemento */
        position: absolute;
        bottom: -10%;
        left: 55px;
        text-align: center;
        
        }
        .propuestas-6{
          width: 200px; /* Ancho del elemento */
          height: 20px; /* Altura del elemento */
          padding: 10px; /* Relleno interno del contenido */
          border: 1px solid #347fd5; /* Borde del elemento */
          margin: 30px; /* Margen externo alrededor del elemento */
          position: absolute;
          bottom: -25%;
          left: 55px;
          text-align: center;
          
          }
          .propuestas-7{
            width: 200px; /* Ancho del elemento */
            height: 20px; /* Altura del elemento */
            padding: 10px; /* Relleno interno del contenido */
            border: 1px solid #347fd5; /* Borde del elemento */
            margin: 30px; /* Margen externo alrededor del elemento */
            position: absolute;
            bottom: -40%;
            left: 55px;
            text-align: center;
            
            }
            .propuestas-8{
              width: 200px; /* Ancho del elemento */
              height: 20px; /* Altura del elemento */
              padding: 10px; /* Relleno interno del contenido */
              border: 1px solid #347fd5; /* Borde del elemento */
              margin: 30px; /* Margen externo alrededor del elemento */
              position: absolute;
              bottom: -55%;
              left: 55px;
              text-align: center;
              
              }
              .propuestas-9{
                width: 200px; /* Ancho del elemento */
                height: 20px; /* Altura del elemento */
                padding: 10px; /* Relleno interno del contenido */
                border: 1px solid #347fd5; /* Borde del elemento */
                margin: 30px; /* Margen externo alrededor del elemento */
                position: absolute;
                bottom: -70%;
                left: 55px;
                text-align: center;
                
                }
                .propuestas-10{
                  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
                  padding: 10px; /* Relleno interno del contenido */
                  border: 1px solid #347fd5; /* Borde del elemento */
                  margin: 30px; /* Margen externo alrededor del elemento */
                  position: absolute;
                  bottom: -85%;
                  left: 55px;
                  text-align: center;
                  
                  }
                  .propuestas-11{
                    width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
                    padding: 10px; /* Relleno interno del contenido */
                    border: 1px solid #347fd5; /* Borde del elemento */
                    margin: 30px; /* Margen externo alrededor del elemento */
                    position: absolute;
                    bottom: -100%;
                    left: 55px;
                    text-align: center;
                    
                    }
                    .propuestas-12{
                      width: 200px; /* Ancho del elemento */
                      height: 20px; /* Altura del elemento */
                      padding: 10px; /* Relleno interno del contenido */
                      border: 1px solid #347fd5; /* Borde del elemento */
                      margin: 30px; /* Margen externo alrededor del elemento */
                      position: absolute;
                      bottom: -115%;
                      left: 55px;
                      text-align: center;
                      
                      }
                      .propuestas-13{
                        width: 200px; /* Ancho del elemento */
                        height: 20px; /* Altura del elemento */
                        padding: 10px; /* Relleno interno del contenido */
                        border: 1px solid #347fd5; /* Borde del elemento */
                        margin: 30px; /* Margen externo alrededor del elemento */
                        position: absolute;
                        bottom: -130%;
                        left: 55px;
                        text-align: center;
                        
                        }
                        .propuestas-14{
                          width: 200px; /* Ancho del elemento */
                          height: 20px; /* Altura del elemento */
                          padding: 10px; /* Relleno interno del contenido */
                          border: 1px solid #347fd5; /* Borde del elemento */
                          margin: 30px; /* Margen externo alrededor del elemento */
                          position: absolute;
                          bottom: -145%;
                          left: 55px;
                          text-align: center;
                          
                          }
                          .propuestas-15{
                            width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
                            padding: 10px; /* Relleno interno del contenido */
                            border: 1px solid #347fd5; /* Borde del elemento */
                            margin: 30px; /* Margen externo alrededor del elemento */
                            position: absolute;
                            bottom: -160%;
                            left: 55px;
                            text-align: center;
                            
                            }
                            .propuestas-16{
                              width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
                              padding: 10px; /* Relleno interno del contenido */
                              border: 1px solid #347fd5; /* Borde del elemento */
                              margin: 30px; /* Margen externo alrededor del elemento */
                              position: absolute;
                              bottom: -175%;
                              left: 55px;
                              text-align: center;
                              
                              }
                              .propuestas-17{
                                width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
                                padding: 10px; /* Relleno interno del contenido */
                                border: 1px solid #347fd5; /* Borde del elemento */
                                margin: 30px; /* Margen externo alrededor del elemento */
                                position: absolute;
                                bottom: -190%;
                                left: 55px;
                                text-align: center;
                                
                                }
                                .propuestas-18{
                                  width: 200px; /* Ancho del elemento */
                                  height: 20px; /* Altura del elemento */
                                  padding: 10px; /* Relleno interno del contenido */
                                  border: 1px solid #347fd5; /* Borde del elemento */
                                  margin: 30px; /* Margen externo alrededor del elemento */
                                  position: absolute;
                                  bottom: -205%;
                                  left: 55px;
                                  text-align: center;
                                  
                                  }
                                  .propuestas-19{
                                    width: 200px; /* Ancho del elemento */
                                    height: 20px; /* Altura del elemento */
                                    padding: 10px; /* Relleno interno del contenido */
                                    border: 1px solid #347fd5; /* Borde del elemento */
                                    margin: 30px; /* Margen externo alrededor del elemento */
                                    position: absolute;
                                    bottom: -220%;
                                    left: 55px;
                                    text-align: center;
                                    
                                    }
                                    .propuestas-20{
                                      width: 200px; /* Ancho del elemento */
                                      height: 20px; /* Altura del elemento */
                                      padding: 10px; /* Relleno interno del contenido */
                                      border: 1px solid #347fd5; /* Borde del elemento */
                                      margin: 30px; /* Margen externo alrededor del elemento */
                                      position: absolute;
                                      bottom: -235%;
                                      left: 55px;
                                      text-align: center;
                                      
                                      }

                                      .propuestas-21{
                                        width: 200px; /* Ancho del elemento */
                                        height: 20px; /* Altura del elemento */
                                        padding: 10px; /* Relleno interno del contenido */
                                        border: 1px solid #347fd5; /* Borde del elemento */
                                        margin: 30px; /* Margen externo alrededor del elemento */
                                        position: absolute;
                                        bottom: -250%;
                                        left: 55px;
                                        text-align: center;
                                        
                                        }
                                        .propuestas-22{
                                          width: 200px; /* Ancho del elemento */
                                          height: 20px; /* Altura del elemento */
                                          padding: 10px; /* Relleno interno del contenido */
                                          border: 1px solid #347fd5; /* Borde del elemento */
                                          margin: 30px; /* Margen externo alrededor del elemento */
                                          position: absolute;
                                          bottom: -265%;
                                          left: 55px;
                                          text-align: center;
                                          
                                          }
                                          .propuestas-23{
                                            width: 200px; /* Ancho del elemento */
                                            height: 20px; /* Altura del elemento */
                                            padding: 10px; /* Relleno interno del contenido */
                                            border: 1px solid #347fd5; /* Borde del elemento */
                                            margin: 30px; /* Margen externo alrededor del elemento */
                                            position: absolute;
                                            bottom: -280%;
                                            left: 55px;
                                            text-align: center;
                                            
                                            }
                                            .propuestas-24{
                                              width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
                                              padding: 10px; /* Relleno interno del contenido */
                                              border: 1px solid #347fd5; /* Borde del elemento */
                                              margin: 30px; /* Margen externo alrededor del elemento */
                                              position: absolute;
                                              bottom: -295%;
                                              left: 55px;
                                              text-align: center;
                                              
                                              }
                                              .propuestas-25{
                                                width: 200px; /* Ancho del elemento */
                                                height: 20px; /* Altura del elemento */
                                                padding: 10px; /* Relleno interno del contenido */
                                                border: 1px solid #347fd5; /* Borde del elemento */
                                                margin: 30px; /* Margen externo alrededor del elemento */
                                                position: absolute;
                                                bottom: -310%;
                                                left: 55px;
                                                text-align: center;
                                                
                                                }
                                                .propuestas-26{
                                                  width: 200px; /* Ancho del elemento */
                                                  height: 20px; /* Altura del elemento */
                                                  padding: 10px; /* Relleno interno del contenido */
                                                  border: 1px solid #347fd5; /* Borde del elemento */
                                                  margin: 30px; /* Margen externo alrededor del elemento */
                                                  position: absolute;
                                                  bottom: -325%;
                                                  left: 55px;
                                                  text-align: center;
                                                  
                                                  }
                                                  .propuestas-27{
                                                    width: 200px; /* Ancho del elemento */
                                                   height: 20px; /* Altura del elemento */
                                                    padding: 10px; /* Relleno interno del contenido */
                                                    border: 1px solid #347fd5; /* Borde del elemento */
                                                    margin: 30px; /* Margen externo alrededor del elemento */
                                                    position: absolute;
                                                    bottom: -340%;
                                                    left: 55px;
                                                    text-align: center;
                                                    
                                                                    }
                                                    



      /* Texto */ 
      
      #Seguridad{
        position: absolute;
        top: 450%;
        

      }
      #Instituciones{
        position: absolute;
        top: 600%;
        

      }






  
























               



               
              
              


        
      
      

                
              
    
   
    
      

 



  