* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e6e8e9;
}

/* ImageNosotros */

img{

  width: 260px; 
  height: 330px;
  position: absolute;
  left: 37px;
  bottom: 150px;
  

}



.App {
  text-decoration: none;
  text-align: center;
  color: #444C4E;
  position: absolute;
  bottom: 73%;
  font-size: 25px;
  left: 40px;
}






.menu-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-horizontal li {
  display: inline-block;
}

.menu-horizontal li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #444C4E;
}




h1 {
  position: absolute;
  bottom: 58%;
  left: 20px;
  color: #444C4E;
}

.black-word {
  color: black;
  font-size: larger;

}


.Candidatos-1{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: relative;
  top: 250px;
  left: 30px;
  text-align: center;


}


.Candidatos-2{
  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: relative;
  top: 255px;
  left: 30px;
  text-align: center;



}


.Candidatos-3{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: relative ;
  top: 260px;
  left: 30px;
  text-align: center;

}


.Candidatos-4{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 257px;
  left: 30px;
  text-align: center;
}

.Candidatos-5{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 255px;
  left: 30px;
  text-align: center;


}
.Candidatos-6{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 250px;
  left: 30px;
  text-align: center;


}
.Candidatos-7{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 250px;
  left: 30px;
  text-align: center;


}
.Candidatos-8{

  width: 200px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 28px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: relative ;
  top: 245px;
  left: 30px;
  text-align: center;


}

/*section2 */




/* candidatos */


h2{
  color: #444C4E;
  position: absolute;
  bottom: 70%;
  left: 10%;
 font-size: 25px;


}
 

.titulo{
  color: #444C4E;
  position: absolute;
  bottom: 80%;
  left: 30%;

} 


/* propuestas */ 


.propuestas-1{
width: 160px; /* Ancho del elemento */
height: 30px; /* Altura del elemento */
padding: 10px; /* Relleno interno del contenido */
border: 1px solid #347fd5; /* Borde del elemento */
margin: 30px; /* Margen externo alrededor del elemento */
position: absolute;
bottom: 14%;
left: 55px;
text-align: center;

}

.propuestas-2{
  width: 160px; /* Ancho del elemento */
  height: 30px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: absolute;
  bottom: 26%;
  left: 55px;
  text-align: center;
  
  }


  .propuestas-3{
    width: 160px; /* Ancho del elemento */
    height: 30px; /* Altura del elemento */
    padding: 10px; /* Relleno interno del contenido */
    border: 1px solid #347fd5; /* Borde del elemento */
    margin: 30px; /* Margen externo alrededor del elemento */
    position: absolute;
    bottom: 38%;
    left: 55px;
    text-align: center;
    
    }

    .propuestas-4{
      width: 160px; /* Ancho del elemento */
      height: 30px; /* Altura del elemento */
      padding: 10px; /* Relleno interno del contenido */
      border: 1px solid #347fd5; /* Borde del elemento */
      margin: 30px; /* Margen externo alrededor del elemento */
      position: absolute;
      bottom: 50%;
      left: 55px;
      text-align: center;
      
      }



      /* Texto */ 

      #bitcoin{
        position: absolute;
        top: 150%;

      }

    

      

 /* pagina inicial mobile */

 @media screen and (min-width: 375px) {

  .App{
font-size: 30px;
right: 10px;



  }

  .Candidatos-1{
    position: relative;
    left: 55px;
  }
  .Candidatos-2{
    position: relative;
    left: 55px;
  }
  .Candidatos-3{
    position: relative;
    left: 55px;
  }
  .Candidatos-4{
    position: relative;
    left: 55px;
  }
  .Candidatos-5{
    position: relative;
    left: 55px;
  }
  .Candidatos-6{
    position: relative;
    left: 55px;
  }
  .Candidatos-7{
    position: relative;
    left: 55px;
  }
  .Candidatos-8{
    position: relative;
    left: 55px;
  }
} 



/* pagina inicial mobile */

@media screen and (min-width: 425px) {

  .App{
font-size: 30px;
right: 10px;



  }

  .Candidatos-1{
    position: relative;
    left: 75px;
  }
  .Candidatos-2{
    position: relative;
    left: 75px;
  }
  .Candidatos-3{
    position: relative;
    left: 75px;
  }
  .Candidatos-4{
    position: relative;
    left: 75px;
  }
  .Candidatos-5{
    position: relative;
    left: 75px;
  }
  .Candidatos-6{
    position: relative;
    left: 75px;
  }
  .Candidatos-7{
    position: relative;
    left: 75px;
  }
  .Candidatos-8{
    position: relative;
    left: 75px;
  }
}

/* pagina inicial tablet */

@media screen and (min-width: 768px) {

  .App{
font-size: 35px;
right: 10px;
top: 90px;
  }


h1{
top: 190px;
font-size: 30px;



}

  .Candidatos-1{
    position: relative;
    left: 75px;
    top: 192px;
  }
  .Candidatos-2{
    position: relative;
    left: 420px;
    top: 120px;
  }
  .Candidatos-3{
    position: relative;
    left: 75px;
    top:130px;
  }
  .Candidatos-4{
    position: relative;
    left: 420px;
    top:58px;
  }
  .Candidatos-5{
    position: relative;
    left: 75px;
    top:65px;
  }
  .Candidatos-6{
    position: relative;
    top:-5px;
    left: 420px;
  }
  .Candidatos-7{
    position: relative;
    left: 75px;
    top:5px;
  }
  .Candidatos-8{
    position: relative;
    left: 420px;
    top:-68px;
  }
}




  