* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e6e8e9;
}

.App {
  text-align: center;
  text-decoration: none;
  color: #444C4E;
  position: absolute;
  bottom: 75%;
  font-size: 30px;
}






.menu-horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-horizontal li {
  display: inline-block;
}

.menu-horizontal li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #444C4E;
}




h1 {
  position: absolute;
  bottom: 60%;
  left: 20px;
  color: #444C4E;
}

.black-word {
  color: black;
  font-size: larger;

}


.Candidatos-1{

  width: 160px; /* Ancho del elemento */
  height: 30px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: absolute;
  bottom: 40%;
  left: 55px;
  text-align: center;


}


.Candidatos-2{
  width: 160px; /* Ancho del elemento */
  height: 30px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: absolute;
  bottom: 28%;
  left: 55px;
  text-align: center;



}


.Candidatos-3{

  width: 160px; /* Ancho del elemento */
  height: 30px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: absolute;
  bottom: 15%;
  left: 55px;
  text-align: center;

}


.Candidatos-4{

  width: 160px; /* Ancho del elemento */
  height: 30px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  font-size: 15px;
  position: absolute;
  bottom: 2%;
  left: 55px;
  text-align: center;


}





/* candidatos */
 

.titulo{
  color: #444C4E;
  position: absolute;
  bottom: 80%;
  left: 30%;


} 


/* propuestas */ 


.propuestas-1{
width: 160px; /* Ancho del elemento */
height: 30px; /* Altura del elemento */
padding: 10px; /* Relleno interno del contenido */
border: 1px solid #347fd5; /* Borde del elemento */
margin: 30px; /* Margen externo alrededor del elemento */
position: absolute;
bottom: 15%;
left: 55px;
text-align: center;

}

.propuestas-2{
  width: 160px; /* Ancho del elemento */
  height: 30px; /* Altura del elemento */
  padding: 10px; /* Relleno interno del contenido */
  border: 1px solid #347fd5; /* Borde del elemento */
  margin: 30px; /* Margen externo alrededor del elemento */
  position: absolute;
  bottom: 25%;
  left: 55px;
  
  }


  .propuestas-3{
    width: 160px; /* Ancho del elemento */
    height: 30px; /* Altura del elemento */
    padding: 10px; /* Relleno interno del contenido */
    border: 1px solid #347fd5; /* Borde del elemento */
    margin: 30px; /* Margen externo alrededor del elemento */
    position: absolute;
    bottom: 35%;
    left: 55px;
    
    }

    .propuestas-4{
      width: 160px; /* Ancho del elemento */
      height: 30px; /* Altura del elemento */
      padding: 10px; /* Relleno interno del contenido */
      border: 1px solid #347fd5; /* Borde del elemento */
      margin: 30px; /* Margen externo alrededor del elemento */
      position: absolute;
      bottom: 45%;
      left: 55px;
      
      }



      #bitcoin{
 position: absolute;
 top: 150%;



      }